.about
  text-align: center
  padding-top: 118px
  padding-bottom: 161px
  background-color: $c-bg-light
  &__title
    margin-bottom: 144px
  &__content
    display: flex
  &__slider
    width: 50%
    box-sizing: border-box
    padding-right: 100px
  &__article
    width: 50%
    box-sizing: border-box
    padding-left: 57px
    text-align: left
    h3
      font-family: $ff-head-3
      font-size: 1.1rem
      text-transform: uppercase
      margin-bottom: 23px
    p
      line-height: 1.7
      text-align: justify
  &__item
    margin-bottom: 30px
  &__box
    height: 100%
  img
    height: 485px


