.slick-dots
  bottom: -49px
  li
    width: 10px
    height: 10px
    margin-right: 0px
    &:hover button:before
      background-color: darken(#D0D0D0, 20%)
    button
      width: 10px
      height: 10px
      &:before
        display: inline-block
        width: 10px
        height: 10px
        content: ''
        background-color: #D0D0D0
        cursor: pointer
    &.slick-active button:before
      background-color: $c-green


    //button
    //  &:before
    //    font-family: 'slick'
    //    font-size: 6px
    //    line-height: 20px
    //    position: absolute
    //    top: 0
    //    left: 0
    //    width: 20px
    //    height: 20px
    //    content: '•'
    //    text-align: center

  //  &:last-child
  //    margin-right: 0
  //  &:hover
  //    background-color: $c-green
  //#text
  //  width: 0
  //  height: 0

