.form
  background: url("../img/bgForm.jpg") no-repeat center/cover
  padding: 180px 0 120px
  .container
    display: flex
  &__us
    background-color: #4A5862
    opacity: 0.6
    padding: 33px
    width: 55%
    box-sizing: border-box
    margin-right: 22px
  &__text
    background-color: inherit
    border: none
    border-bottom: 1px solid #6F7B82
    margin-bottom: 27px
    display: block
    width: 100%
    outline: none
    color: lighten(#6F7B82, 20)
    &::placeholder
      color: lighten(#6F7B82, 20)
  &__msg
    background-color: inherit
    border: none
    border-bottom: 1px solid #6F7B82
    margin-bottom: 20px
    display: block
    width: 100%
    height: 100px
    color: lighten(#6F7B82, 20)
    resize: none
  &__submit
    background-color: $c-green
    text-transform: uppercase
    border: none
    border-radius: 3px
    font-family: "montserrat-bold"
    padding: 16px 48px
    font-size: 1.1rem
    margin-top: 23px
  &__contact
    width: 45%
    box-sizing: border-box
    background-color: #4A5862
    opacity: 0.6
    padding: 29px
    line-height: 1.4rem

    color: #fff
