.hero
  text-align: center
  background: $c-bg-dark url("../img/bg_hero.png") no-repeat 74% 78%
  padding-bottom: 198px


  &__title
    padding: 195px 0 123px 0
    text-transform: uppercase
    span
      background-color: yellow
  &__head
    font-size: 3rem


  &__button
    background-color: inherit
    text-transform: uppercase
    padding: 13px 52px
    font-family: $ff-button
    font-size: 1.2rem