.title


  text-align: center
  &__head
    font-size: 2.4rem
    font-family: $ff-head
    text-transform: uppercase
    margin-bottom: 8px
  &__text
    text-transform: uppercase
    font-family: $ff-head-title
    font-size: 1.1rem

