@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'raleway-regular';
  src: url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.otf") format("otf");
}

@font-face {
  font-family: 'raleway-bold';
  src: url("../fonts/Raleway/Raleway-Bold/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Bold/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway/Raleway-Bold/Raleway-Bold.otf") format("otf");
}

@font-face {
  font-family: "merriweather-regular";
  src: url("../fonts/Merriweather/Merriweather-Regular/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-Regular/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather/Merriweather-Regular/Merriweather-Regular.otf") format("otf");
}

@font-face {
  font-family: 'merriweather-bold';
  src: url("../fonts/Merriweather/Merriweather-Bold/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-Bold/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather/Merriweather-Bold/Merriweather-Bold.otf") format("otf");
}

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.otf") format("otf");
}

@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.otf") format("otf");
}

html {
  font-size: 16px;
}

body {
  font-family: "raleway-regular";
  color: #5E5F5F;
}

button {
  outline: none;
}

textarea {
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.icon {
  position: relative;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.icon-hand {
  background-image: url(../img/sprite.png);
  background-position: -84px 0px;
  width: 83px;
  height: 79px;
}

.icon-book {
  background-image: url(../img/sprite.png);
  background-position: 0px -81px;
  width: 66px;
  height: 79px;
}

.icon-mass {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 84px;
  height: 81px;
}

.slick-dots {
  bottom: -49px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  margin-right: 0px;
}

.slick-dots li:hover button:before {
  background-color: #9d9d9d;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
}

.slick-dots li button:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  content: '';
  background-color: #D0D0D0;
  cursor: pointer;
}

.slick-dots li.slick-active button:before {
  background-color: #6EF5EA;
}

.title {
  text-align: center;
}

.title__head {
  font-size: 2.4rem;
  font-family: "montserrat-bold";
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title__text {
  text-transform: uppercase;
  font-family: "merriweather-regular";
  font-size: 1.1rem;
}

.header {
  background-color: #EFF0F2;
  padding-top: 64px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  font-family: "montserrat-bold";
  margin-right: 15px;
}

.nav__item:last-child {
  margin-right: 0;
}

.hero {
  text-align: center;
  background: #EFF0F2 url("../img/bg_hero.png") no-repeat 74% 78%;
  padding-bottom: 198px;
}

.hero__title {
  padding: 195px 0 123px 0;
  text-transform: uppercase;
}

.hero__title span {
  background-color: yellow;
}

.hero__head {
  font-size: 3rem;
}

.hero__button {
  background-color: inherit;
  text-transform: uppercase;
  padding: 13px 52px;
  font-family: "montserrat-regular";
  font-size: 1.2rem;
}

.about {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 161px;
  background-color: #F8FAFA;
}

.about__title {
  margin-bottom: 144px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__slider {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 100px;
}

.about__article {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 57px;
  text-align: left;
}

.about__article h3 {
  font-family: "merriweather-bold";
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.about__article p {
  line-height: 1.7;
  text-align: justify;
}

.about__item {
  margin-bottom: 30px;
}

.about__box {
  height: 100%;
}

.about img {
  height: 485px;
}

.services {
  padding-top: 116px;
  background-color: #F9FBFB;
  padding-bottom: 74px;
}

.services__case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__proj {
  padding: 4px;
  position: relative;
}

.services__description {
  padding-right: 30px;
  color: #999;
  position: absolute;
  top: 55px;
  left: 64px;
  height: 100%;
  line-height: 1.8;
}

.services__description h3 {
  font-family: "merriweather-bold";
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.services .close, .services .more {
  position: absolute;
  bottom: 80px;
  border: none;
  background-color: inherit;
  color: #8E8E8E;
  text-transform: uppercase;
}

.services .close {
  display: none;
  font-size: 2rem;
}

.services__title {
  margin-bottom: 115px;
}

.partners {
  padding: 50px 0;
  text-align: center;
}

.team {
  margin: 116px 0;
}

.team__title {
  margin-bottom: 111px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  padding: 5px;
  position: relative;
}

.team__description {
  display: none;
  position: absolute;
  top: 150px;
  left: 10px;
  right: 10px;
  background-color: #6EF5EA;
  padding: 15px;
  margin: 10px;
  font-size: 0.9rem;
}

.team__description h5 {
  font-family: "merriweather-bold";
  margin: 15px 0;
}

.team__description span {
  font-family: "raleway-regular";
}

.team__description .socblock {
  margin: 20px 0;
}

.team__description:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #6EF5EA;
  top: -20px;
}

.sayings {
  padding: 109px 0 220px;
  background-color: #EFF0F2;
}

.sayings__case {
  width: 370px;
}

.sayings__title {
  margin-bottom: 100px;
}

.sayings__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sayings__slider {
  margin-right: 50px;
}

.sayings__text {
  background-color: #EFF0F2;
  padding: 90px 60px;
  text-align: center;
  width: 50%;
}

.sayings__text h5 {
  font-family: "merriweather-bold";
  margin-bottom: 30px;
}

.sayings__arrows {
  position: absolute;
  right: 58px;
  bottom: 36px;
}

.sayings__button {
  padding: 16px 21px;
  border-radius: 3px;
  background-color: #fff;
  color: #CBCBCB;
  margin: 5px;
  -webkit-box-shadow: 6px 4px 5px #CBCBCB;
          box-shadow: 6px 4px 5px #CBCBCB;
  position: absolute;
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.sayings__button-prev {
  right: 20px;
}

.sayings__button:hover {
  background-color: #6EF5EA;
  color: #25514D;
}

.work {
  text-align: center;
  padding: 120px 0;
}

.work__title {
  margin-bottom: 110px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.form {
  background: url("../img/bgForm.jpg") no-repeat center/cover;
  padding: 180px 0 120px;
}

.form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__us {
  background-color: #4A5862;
  opacity: 0.6;
  padding: 33px;
  width: 55%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 22px;
}

.form__text {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #6F7B82;
  margin-bottom: 27px;
  display: block;
  width: 100%;
  outline: none;
  color: #a5adb2;
}

.form__text::-webkit-input-placeholder {
  color: #a5adb2;
}

.form__text:-ms-input-placeholder {
  color: #a5adb2;
}

.form__text::-ms-input-placeholder {
  color: #a5adb2;
}

.form__text::placeholder {
  color: #a5adb2;
}

.form__msg {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #6F7B82;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 100px;
  color: #a5adb2;
  resize: none;
}

.form__submit {
  background-color: #6EF5EA;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  font-family: "montserrat-bold";
  padding: 16px 48px;
  font-size: 1.1rem;
  margin-top: 23px;
}

.form__contact {
  width: 45%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #4A5862;
  opacity: 0.6;
  padding: 29px;
  line-height: 1.4rem;
  color: #fff;
}

.footer {
  text-align: center;
  background-color: #262B2E;
  color: #BBB8B9;
  padding: 88px;
}

.footer__title .title__head {
  font-size: 1.5rem;
}

.footer__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #424648;
  border-radius: 3px;
}

.footer__link:hover {
  background-color: #6EF5EA;
}

.footer__link:before {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3rem;
}

.footer__bottom {
  margin-top: 30px;
}
