@font-face
  font-family: 'raleway-regular'
  src: url('../fonts/Raleway/Raleway-Regular/Raleway-Regular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Raleway/Raleway-Regular/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Regular/Raleway-Regular.otf') format('otf')

@font-face
  font-family: 'raleway-bold'
  src: url('../fonts/Raleway/Raleway-Bold/Raleway-Bold.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Raleway/Raleway-Bold/Raleway-Bold.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Bold/Raleway-Bold.otf') format('otf')


@font-face
  font-family: "merriweather-regular"
  src: url("../fonts/Merriweather/Merriweather-Regular/Merriweather-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Merriweather/Merriweather-Regular/Merriweather-Regular.woff") format("woff"),
  url("../fonts/Merriweather/Merriweather-Regular/Merriweather-Regular.otf") format("otf")



@font-face
  font-family: 'merriweather-bold'
  src: url("../fonts/Merriweather/Merriweather-Bold/Merriweather-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Merriweather/Merriweather-Bold/Merriweather-Bold.woff") format("woff"),
  url("../fonts/Merriweather/Merriweather-Bold/Merriweather-Bold.otf") format("otf")


@font-face
  font-family: 'montserrat-regular'
  src: url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff") format("woff"),
  url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.otf") format("otf")

@font-face
  font-family: 'montserrat-bold'
  src: url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff") format("woff"),
  url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.otf") format("otf")
