// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$book-name: 'book'
$book-x: 0px
$book-y: 81px
$book-offset-x: 0px
$book-offset-y: -81px
$book-width: 66px
$book-height: 79px
$book-total-width: 167px
$book-total-height: 160px
$book-image: '../img/sprite.png'
$book: (0px, 81px, 0px, -81px, 66px, 79px, 167px, 160px, '../img/sprite.png', 'book', )
$fly-name: 'fly'
$fly-x: 66px
$fly-y: 81px
$fly-offset-x: -66px
$fly-offset-y: -81px
$fly-width: 36px
$fly-height: 37px
$fly-total-width: 167px
$fly-total-height: 160px
$fly-image: '../img/sprite.png'
$fly: (66px, 81px, -66px, -81px, 36px, 37px, 167px, 160px, '../img/sprite.png', 'fly', )
$hand-name: 'hand'
$hand-x: 84px
$hand-y: 0px
$hand-offset-x: -84px
$hand-offset-y: 0px
$hand-width: 83px
$hand-height: 79px
$hand-total-width: 167px
$hand-total-height: 160px
$hand-image: '../img/sprite.png'
$hand: (84px, 0px, -84px, 0px, 83px, 79px, 167px, 160px, '../img/sprite.png', 'hand', )
$mass-name: 'mass'
$mass-x: 0px
$mass-y: 0px
$mass-offset-x: 0px
$mass-offset-y: 0px
$mass-width: 84px
$mass-height: 81px
$mass-total-width: 167px
$mass-total-height: 160px
$mass-image: '../img/sprite.png'
$mass: (0px, 0px, 0px, 0px, 84px, 81px, 167px, 160px, '../img/sprite.png', 'mass', )
$spritesheet-width: 167px
$spritesheet-height: 160px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($book, $fly, $hand, $mass, )
$spritesheet: (167px, 160px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
