section.about
    .container
        .title.about__title
            .title__head About Us
            h1.title__text We are added our major Services
        .about__content
            .about__slider
                ul.about__box
                    li.about__pic
                        img(src = 'img/services4.jpg')
            .about__article
                ul.about__list
                    li.about__item
                        h3 We Actually Do amazing works
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet consectetur consequuntur culpa cum, facilis fugiat harum ipsam ipsum obcaecati odio optio quidem sapiente sequi, similique sit tempore ullam voluptas?Accusantium amet consectetur consequuntur culpa cum, facilis fugiat harum ipsam ipsum obcaecati odio optio quidem sapiente sequi, similique sit tempore ullam voluptas?facilis fugiat harum ipsam ipsum obcaecati odio optio quidem sapiente sequi, similique sit tempore ullam voluptas?
                    li.about__item
                        h3 We Actually Do amazing works
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet consectetur consequuntur culpa cum, facilis fugiat harum ipsam ipsum obcaecati odio optio quidem sapiente sequi, similique sit tempore ullam voluptas?
