-var linkItems = ['facebook', 'twitter', 'google', 'instagram']
-var linkUrls = ['facebook.com', 'twitter.com', 'google.com', 'instagram.com']
footer.footer
    .footer__top
        .container
            .title.footer__title
                .title__head Follow us
            .footer__links
                each item, key in linkUrls
                    a(href='https://'+ item target = 'blank' class='footer__link')
                        i(class='fab fa-' +  linkItems[key] class='footer__icon')

    .footer__bottom Copyright Masum Parvej, All Rights Reserved