section.hero
    .container
        .title.hero__title
            .title__head.hero__head Say Hello to &nbsp
                span SHOPNO!
                br
                span Agency
                |&nbsp CORPORATE SHOPNO Theme
        button.hero__button Contact Us