nav.nav
    -var dataSections = ['header', 'about', 'work', 'services', 'team']
    -var arrNameItems = ['Home', 'About Us', 'Our Work', 'Our Services', 'Our Team']
        each item, key in arrNameItems
            if item === 'Home'
                a.nav__item.nav--active(href='#' data-link=dataSections[key])=item
            else
                a.nav__item(href='#' data-link=dataSections[key])=item
