section.services
    .container
        .title.services__title
            .title__head Our Services
            h1.title__text We are added our major Services
        ul.services__list
            -var j = 1;
            -for (var i=1; i<=3; i++) {
            li.services__item
                ul.services__case
                    li.services__proj
                        img.services__pic(src='img/services'+j+'.jpg')
                        .services__description
                            h3 Designing is The CooL LOVE FOR.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at blanditiis distinctio est et excepturi, expedita fugit harum hic nesciunt obcaecati omnis quas quisquam reprehenderit sed ullam velit. Deserunt, doloribus?
                            button.more know more &#8194 &#8594
                            button.close &#8194 &times
                        -j++;
                    li.services__proj
                        img.services__pic(src='img/services' + j + '.jpg')
                        .services__description
                            h3 cool psd Design
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at blanditiis distinctio est et excepturi, expedita fugit harum hic nesciunt obcaecati omnis quas quisquam reprehenderit sed ullam velit. Deserunt, doloribus?
                            button.more know more &#8194 &#8594
                            button.close &#8194 &times
                        -j++;
            -}


