section.work
    .container
        .title.work__title
            .title__head Our Work
            h1.title__text We are added our major Services
        .work__content
            ul.work__list
                li.work__item
                    img.work__pic(src='img/works1.jpg')
                li.work__item
                    img.work__pic(src='img/works2.jpg')
                li.work__item
                    img.work__pic(src='img/works3.jpg')
                li.work__item
                    img.work__pic(src='img/works4.jpg')
                li.work__item
                    img.work__pic(src='img/works5.jpg')
                li.work__item
                    img.work__pic(src='img/works6.jpg')

